# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
/*.db
/db.py
/db_repository/*
/flask/*
/env/*
/.idea/*
/logs/*.log
*.DS_Store
*.project
/migrations/*
