<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>高中复习网index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/common.css"/>
  <style type="text/css">
	div[class*="col-md"] {

	}
  </style>
</head>

<body>
	<div class="container top-header">
	    <div class="row">
	      <div class="col-md-12 header-xs-new">
	   	 <a href="/" class="newlogo"></a>
		<nav class="navbar login-info" role="navigation">
	    <div id="bs-navbar" class="navbar-collapse collapse" aria-expanded="true">
	      <ul class="nav navbar-nav">

		<li data-toggle="modal" data-target="#login" id="unlogin"><a data-thr="thr" class="mo-btn" href="/">登录</a></li>
	            <li><span class="line"> |</span></li>
	            <li data-toggle="modal" data-target="#register" id="unregeister"><a data-thr="thr" class="mo-btn" href="/">注册</a></li>
		      </ul>
	    </div>
	</nav>

	      </div>
	    </div>
	</div>
	<div class="navbar navbar-default" id="common-header">

	    <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
	    </div>

	    <div class="container navbar-collapse collapse">
	        <ul class="nav navbar-nav  navbar-nav-font-size">
		<li class="active"><a href="/index.php">首页</a></li>
		<li><a href="http://www.tigang.net/category/dili">高中语文复习提纲</a></li>
		<li><a href="http://www.tigang.net/category/dili">高中数学复习提纲</a></li>
		<li><a href="http://www.tigang.net/category/dili">高中英语复习提纲</a></li>
		<li><a href="http://www.tigang.net/category/dili">更多</a></li>
	</ul>

</div>
	</div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
