<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>高中复习提纲网</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			
		<header class="header">
			<div class="row">
			<div class="col-sm-4">
				<div class="logo">
					<h1><a href="/">高中复习提纲网</a></h1>
				</div>
			</div>
			<div class="col-sm-6">
				<form class="form-group" action="" method="post">
					<!--<div class="input-group input-group-sm">-->
						<input type="text" class="form-control " placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">OK</button>
						</span>
					<!--</div>-->
				</form>
			</div>
			<div class="col-sm-2 test">
  
			</div>
			</div>
		</header>
			
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle cate-button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">提纲</span>	
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav cate-navbar ">
						<li class="active"><a href="#">首页</a></li>
						<li><a href="#">语文</a></li>
						<li><a href="#">数学</a></li>
						<li><a href="#">英语</a></li>
						<li><a href="#">政治</a></li>
						<li><a href="#">历史</a></li>
						<li><a href="#">地理</a></li>
						<li><a href="#">物理</a></li>
						<li><a href="#">化学</a></li>
						<li><a href="#">生物</a></li>
						<li><a href="#">其他</a></li>
					</ul>
				</div>
			</nav>
		<div class="container">
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
			<br />	
		</div>
			</div>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>
