{% extends "base.jinja2"%}

{%block title%}高中复习提纲网-高一,高二,高三高中各科必修选修复习资料提纲聚集地{%endblock title%}
{%block description%}高中复习提纲网是一个收集高中复习资料提纲的聚集地{%endblock description%}
{%block keywords%}提纲,高中,复习,数学,语文,英语,物理,化学,生物,政治,地理,历史,重点,归纳{%endblock keywords%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pagenavi-css.css')}}" type="text/css" media="screen">
{{ super() }}
{% endblock style %}
{% block content %}
<div class="taobaobei">
    <!--页面导航 开始 -->
    <div class="subnavi">
        <div class="subnavi-l">当前位置: <a href="http://www.tigang.net">高中复习提纲网</a> &gt; <a href="{{ url_for('home.category', cslug=catepage_data.slug) }}" rel="category tag">高中英语复习提纲</a></div>
    </div>
    <!--页面导航 结束 -->
    <!-- 分类文章列表 开始 -->
    <div class="bb_post">
      {% for p in catepage_data.plist %}
        <div class="bb_list" id="baobei-{{ p.id }}">
            <h2><a href="{{ url_for('home.post', cslug=catepage_data.slug, pslug=p.slug) }}" rel="bookmark" title="{{ p.title }}">{{ p.title }}</a></h2>
            <span class="bb_date">{{ p.create_date }}</span>
            <div class="bb_detail">
                {{ p.brief }}......<a href="{{ url_for('home.post', cslug=catepage_data.slug, pslug=p.slug) }}" rel="bookmark" title="{{ p.title }}">复习提纲详细内容</a>
            </div>
        </div>
      {% endfor %}
        <!-- 翻页 开始 -->
        <div class="page_navi">
            <div class="wp-pagenavi">
                <span class="pages">第 1 页，共 2 页</span><span class="current">1</span><a class="page larger" href="http://www.tigang.net/category/yingyu/page/2">2</a><a class="nextpostslink" rel="next" href="http://www.tigang.net/category/yingyu/page/2">»</a>
            </div>
        </div>
        <!-- 翻页 结束 -->
    </div>
    <!-- 分类文章列表 结束 -->
  </div>
  {% include 'sidebar.html' %}
{% endblock content %}
