{% macro generate_comment(c, index) %}
<li class="alt" id="comment-{{ c.id }}">
  <div class="gravatar">
    <a href="{{c.site}}" rel="external nofollow" target="_blank"><img alt="" src="http://2.gravatar.com/avatar/b480f259c0969f237d908e561e7c9486?s=48&amp;d=http%3A%2F%2Fen.gravatar.com%2Fuserimage%2F3244064%2Fabe7b8020c8fc8cc9b009469b5c159fc.jpeg&amp;r=g" srcset="http://2.gravatar.com/avatar/b480f259c0969f237d908e561e7c9486?s=96&amp;d=http%3A%2F%2Fen.gravatar.com%2Fuserimage%2F3244064%2Fabe7b8020c8fc8cc9b009469b5c159fc.jpeg&amp;r=g 2x" class="avatar avatar-48 photo" height="48" width="48"></a>
    <label class="floor">{{ index }}楼</label></div>
  <small class="commentmetadata">十月 13th, 2011 at 12:40 下午 &nbsp;&nbsp;</small>
  <strong><a href="{{c.site}}" rel="external nofollow" target="_blank">{{c.author}}</a></strong> 说:
  <p>{{c.content}}</p>
</li>
{% endmacro %}


<h3 id="comments"><strong>已经有2个评论，你也说点什么吧</strong></h3>
<ol class="commentlist">
  {% for c in p.comments %}
  {{ c.name }}
  {{ generate_comment(c=c,  index=loop.index) }}
  {% endfor %}
</ol>
{% include 'commentbox.html' %}
