{% extends "base.jinja2"%}

{%block title%}高中复习提纲网-高一,高二,高三高中各科必修选修复习资料提纲聚集地{%endblock title%}
{%block description%}高中复习提纲网是一个收集高中复习资料提纲的聚集地{%endblock description%}
{%block keywords%}提纲,高中,复习,数学,语文,英语,物理,化学,生物,政治,地理,历史,重点,归纳{%endblock keywords%}

{%block content%}
<div class="wrap">
  <div class="content">
    <div class="bb_home">
      <!-- 侧边栏1 开始 -->
      <div class="sidebar1">
        <!-- 分类 开始 -->
        <div class="special sbar1">
          <h2>最热复习提纲</h2>
          <div class="sbar1_content">
            <ul class="promo">
              {% for h in hot_list %}
              <li><a href="{{h.category.slug}}/{{h.slug}}.html" title="{{h.title}}">{{h.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- 分类 结束 -->
      </div>
      <!-- 侧边栏1 结束 -->
      <!-- 宝贝推荐 开始 -->
      <div class="bb_recommend">
        {% for p in random_brief %}
        <div class="baobei" id="baobei-{{p.id}}">
          <h2><a href="{{p.cslug}}/{{p.slug}}.html" rel="bookmark" title="{{p.title}}">{{p.title}}</a></h2>
          <div class="baobei_detail">
            {{p.brief}}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- 宝贝推荐 结束 -->
      <div class="clear"></div>
      <div class="long_ad">
        <a href="jiaofushu"><img src="static/images/jfs.jpg" alt="高中教辅书排行榜" title="高中教辅书排行榜"></a>
      </div>
      <div class="clear"></div>
      <div class="allcats">
        <!-- 单一分类 开始 -->
        <!-- 分类列表 开始 -->
        {% for c in cate_list %}
        <div id="cat-{{c.id}}" class="bb_cats">
          <div class="cats_content">
            <h2><a href="category/{{c.slug}}" title="{{c.title}}">{{c.title}}</a></h2>
            <ul>
              {% for p in c.plist %}
              <li><a href="{{p.cslug}}/{{p.slug}}.html" title="{{p.title}}">{{p.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        <!-- 分类列表 结束 -->
        <!-- 如果要增加栏目，请在array中输入你要显示的cat分类的ID -->
        <!-- 单一分类 开始 -->
        <div class="clear"></div>
      </div>
    </div>
    <!-- 侧边栏2 开始 -->
    {% include 'sidebar.html' %}
    <!-- 侧边栏2 结束  -->

    <br clear="all">
    <!-- 友情链接 开始 -->
    <div class="flink">
      <h4>友情链接</h4>
      <div class="fsites">
        <!-- 图片友情链接 开始 -->
        <ul class="sitesPic">
        </ul>
        <!-- 图片友情链接 结束 -->
        <div class="clear"></div>
        <!-- 文字友情链接 开始 -->
        <ul class="sitesPic sitestxt">
          <li><a href="http://www.hb6.org/" rel="me" title="高中复习提纲网管理员博客" target="_blank">这个M</a></li>
        </ul>
        <!-- 文字友情链接 结束 -->
      </div>
    </div>
    <!-- 友情链接 结束 -->
    <div class="clear"></div>
  </div>
</div>
{% endblock content %}
