{% extends "base.jinja2"%}

{%block title%}高中复习提纲网-高一,高二,高三高中各科必修选修复习资料提纲聚集地{%endblock title%}
{%block description%}高中复习提纲网是一个收集高中复习资料提纲的聚集地{%endblock description%}
{%block keywords%}提纲,高中,复习,数学,语文,英语,物理,化学,生物,政治,地理,历史,重点,归纳{%endblock keywords%}

{%block content%}
<div class="wrap">
  <div class="content">
    <div class="bb_home">
      <!-- 侧边栏1 开始 -->
      <div class="sidebar1">
        <!-- 分类 开始 -->
        <div class="special sbar1">
          <h2>最热复习提纲</h2>
          <div class="sbar1_content">
            <ul class="promo">
              {% for h in hot_list %}
              <li><a href="{{h.category.slug}}/{{h.slug}}.html" title="{{h.title}}">{{h.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- 分类 结束 -->
      </div>
      <!-- 侧边栏1 结束 -->
      <!-- 宝贝推荐 开始 -->
      <div class="bb_recommend">
        {% for p in random_brief %}
        <div class="baobei" id="baobei-{{p.id}}">
          <h2><a href="{{p.cslug}}/{{p.slug}}.html" rel="bookmark" title="{{p.title}}">{{p.title}}</a></h2>
          <div class="baobei_detail">
            {{p.brief}}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- 宝贝推荐 结束 -->
      <div class="clear"></div>
      <div class="long_ad">
        <a href="jiaofushu"><img src="static/images/jfs.jpg" alt="高中教辅书排行榜" title="高中教辅书排行榜"></a>
      </div>
      <div class="clear"></div>
      <div class="allcats">
        <!-- 单一分类 开始 -->
        <!-- 分类列表 开始 -->
        {% for c in cate_list %}
        <div id="cat-{{c.id}}" class="bb_cats">
          <div class="cats_content">
            <h2><a href="category/{{c.slug}}" title="{{c.title}}">{{c.title}}</a></h2>
            <ul>
              {% for p in c.plist %}
              <li><a href="{{p.cslug}}/{{p.slug}}.html" title="{{p.title}}">{{p.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
        <!-- 分类列表 结束 -->
        <!-- 如果要增加栏目，请在array中输入你要显示的cat分类的ID -->
        <!-- 单一分类 开始 -->
        <div class="clear"></div>
      </div>
    </div>
    <!-- 侧边栏2 开始 -->

    <div class="sidebar2">
      <ul>
        <li id="categories-3" class="widget widget_categories">
          <h2 class="widgettitle">复习提纲分类</h2>
          <ul>
            {% for c in cate_sidebar %}
            <li class="cat-item cat-item-{{c.id}}"><a href="category/{{c.slug}}">{{c.title}}</a> ({{c.count}})</li>
            {% endfor %}
          </ul>
        </li>
        <li id="archives-3" class="widget widget_archive">
          <h2 class="widgettitle">复习提纲索引</h2>
          <ul>
            <li><a href="2011/09">2011年九月</a>&nbsp;(1)</li>
            <li><a href="2011/06">2011年六月</a>&nbsp;(1)</li>
            <li><a href="2011/01">2011年一月</a>&nbsp;(1)</li>
            <li><a href="2010/11">2010年十一月</a>&nbsp;(5)</li>
            <li><a href="2010/10">2010年十月</a>&nbsp;(9)</li>
            <li><a href="2010/09">2010年九月</a>&nbsp;(19)</li>
            <li><a href="2010/08">2010年八月</a>&nbsp;(19)</li>
            <li><a href="2010/07">2010年七月</a>&nbsp;(19)</li>
          </ul>
        </li>
        <li id="recent-posts-3" class="widget widget_recent_entries">
          <h2 class="widgettitle">最新复习提纲</h2>
          <ul>
            {% for p in new_plist %}
            <li>
              <a href="{{p.cslug}}/{{p.slug}}.html">{{p.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li id="linkcat-2" class="widget widget_links">
          <h2 class="widgettitle">链接表</h2>

          <ul class="xoxo blogroll">
            <li>
              <a href="http://www.hb6.org/" rel="me" title="高中复习提纲网管理员博客" target="_blank"><img src="static/images/web_logo.gif" alt="这个M" title="高中复习提纲网管理员博客"> 这个M</a>
            </li>

          </ul>
        </li>

        <li id="tag_cloud-3" class="widget widget_tag_cloud">
          <h2 class="widgettitle">复习提纲标签</h2>
          <div class="tagcloud">
            {% for t in tags %}
            <a href="tag/{{t.slug}}" class="tag-link-{{t.id}}" title="{{t.posts.count()}}个话题" style="font-size: 9pt;">{{t.name}}</a>
            {% endfor %}
        </li>
      </ul>
    </div>
    <!-- 淘宝购物技巧 -->
    <!-- 侧边栏2 结束  -->

    <br clear="all">
    <!-- 友情链接 开始 -->
    <div class="flink">
      <h4>友情链接</h4>
      <div class="fsites">
        <!-- 图片友情链接 开始 -->
        <ul class="sitesPic">
        </ul>
        <!-- 图片友情链接 结束 -->
        <div class="clear"></div>
        <!-- 文字友情链接 开始 -->
        <ul class="sitesPic sitestxt">
          <li><a href="http://www.hb6.org/" rel="me" title="高中复习提纲网管理员博客" target="_blank">这个M</a></li>
        </ul>
        <!-- 文字友情链接 结束 -->
      </div>
    </div>
    <!-- 友情链接 结束 -->
    <div class="clear"></div>
  </div>
</div>
{% endblock content %}
