{% extends "base.jinja2"%}

{%block title%}高中复习提纲网-高一,高二,高三高中各科必修选修复习资料提纲聚集地{%endblock title%}
{%block description%}高中复习提纲网是一个收集高中复习资料提纲的聚集地{%endblock description%}
{%block keywords%}提纲,高中,复习,数学,语文,英语,物理,化学,生物,政治,地理,历史,重点,归纳{%endblock keywords%}
{% block content %}
<div class="taobaobei">
    <div class="subnavi">
        <div class="subnavi-l">当前位置: <a href="http://www.tigang.net">高中复习提纲网</a> &gt; <a href="http://www.tigang.net/category/shuxue" rel="category tag">高中数学复习提纲</a> &gt; 提纲详细内容</div>
    </div>
    <!--– 复制加版权开始 –-->
    <script type="text/javascript">
        document.body.oncopy = function() {
            event.returnValue = false;
            var t = document.selection.createRange().text;
            var s = "本文来源于高中复习提纲网 http://www.tigang.net";
            var x = "原文地址： http://www.tigang.net/shuxue/gong-shi-kou-jue.html ";

            clipboardData.setData('Text', '\r\n' + t + '\r\n' + s + '\r\n' + x + '\r\n');
        }
    </script>
    <!--– 复制加版权结束 –-->
    <div class="bb_post">
        <div class="bb_list" id="baobei-460">
            <h2 class="txtcenter"><a href="http://www.tigang.net/shuxue/gong-shi-kou-jue.html" rel="bookmark" title="高中数学八大模块公式口诀">高中数学八大模块公式口诀</a></h2>
            <div class="descmid dashborder">
                <label class="page-date">发表时间：2011-09-02</label><label class="page-views">关注度：21,844 views </label><label class="page-comments">评论数：<a href="#respond">1</a></label>
            </div>

            <div id="wshare">
                <!-- Baidu Button BEGIN -->
                分享
                <!-- Baidu Button END -->
            </div>

            <div class="bb_detail baobei_info">
                <p>一、《集合与函数》</p>
                <p>　　内容子交并补集，还有幂指对函数。性质奇偶与增减，观察图象最明显。</p>
                <p>　　复合函数式出现，性质乘法法则辨，若要详细证明它，还须将那定义抓。</p>
                <p>　　指数与对数函数，两者互为反函数。底数非1的正数，1两边增减变故。</p>
                <p>　　函数定义域好求。分母不能等于0，偶次方根须非负，零和负数无对数</p>
                <p>　　正切函数角不直，余切函数角不平；其余函数实数集，多种情况求交集。</p>
                <p>　　两个互为反函数，单调性质都相同；图象互为轴对称，Y=X是对称轴</p>
                <p>　　求解非常有规律，反解换元定义域；反函数的定义域，原来函数的值域。</p>
                <p>　　幂函数性质易记，指数化既约分数；函数性质看指数，奇母奇子奇函数，</p>
                <p>　　奇母偶子偶函数，偶母非奇偶函数；图象第一象限内，函数增减看正负。</p>
                <p>二、《三角函数》</p>
                <p>　　三角函数是函数，象限符号坐标注。函数图象单位圆，周期奇偶增减现。</p>
                <p>　　同角关系很重要，化简证明都需要。正六边形顶点处，从上到下弦切割</p>
                <p>　　中心记上数字1，连结顶点三角形；向下三角平方和，倒数关系是对角，</p>
                <p>　　顶点任意一函数，等于后面两根除。诱导公式就是好，负化正后大化小，</p>
                <p>　　变成税角好查表，化简证明少不了。二的一半整数倍，奇数化余偶不变，</p>
                <p>　　将其后者视锐角，符号原来函数判。两角和的余弦值，化为单角好求值，</p>
                <p>　　余弦积减正弦积，换角变形众公式。和差化积须同名，互余角度变名称。</p>
                <p>　　计算证明角先行，注意结构函数名，保持基本量不变，繁难向着简易变。</p>
                <p>　　逆反原则作指导，升幂降次和差积。条件等式的证明，方程思想指路明。</p>
                <p>　　万能公式不一般，化为有理式居先。公式顺用和逆用，变形运用加巧用</p>
                <p>　　1加余弦想余弦，1 减余弦想正弦，幂升一次角减半，升幂降次它为范</p>
                <p>　　三角函数反函数，实质就是求角度，先求三角函数值，再判角取值范围</p>
                <p>　　利用直角三角形，形象直观好换名，简单三角的方程，化为最简求解集</p>
                <p>三、《不等式》</p>
                <p>　　解不等式的途径，利用函数的性质。对指无理不等式，化为有理不等式。</p>
                <p>　　高次向着低次代，步步转化要等价。数形之间互转化，帮助解答作用大。</p>
                <p>　　证不等式的方法，实数性质威力大。求差与0比大小，作商和1争高下。</p>
                <p>　　直接困难分析好，思路清晰综合法。非负常用基本式，正面难则反证法。</p>
                <p>　　还有重要不等式，以及数学归纳法。图形函数来帮助，画图建模构造法。</p>
                <p>四、《数列》</p>
                <p>　　等差等比两数列，通项公式N项和。两个有限求极限，四则运算顺序换。</p>
                <p>　　数列问题多变幻，方程化归整体算。数列求和比较难，错位相消巧转换，</p>
                <p>　　取长补短高斯法，裂项求和公式算。归纳思想非常好，编个程序好思考：</p>
                <p>　　一算二看三联想，猜测证明不可少。还有数学归纳法，证明步骤程序化：</p>
                <p>　　首先验证再假定，从 K向着K加1，推论过程须详尽，归纳原理来肯定。</p>
                <p>五、《复数》</p>
                <p>　　虚数单位i一出，数集扩大到复数。一个复数一对数，横纵坐标实虚部。</p>
                <p>　　对应复平面上点，原点与它连成箭。箭杆与X轴正向，所成便是辐角度。</p>
                <p>　　箭杆的长即是模，常将数形来结合。代数几何三角式，相互转化试一试。</p>
                <p>　　代数运算的实质，有i多项式运算。i的正整数次慕，四个数值周期现。</p>
                <p>　　一些重要的结论，熟记巧用得结果。虚实互化本领大，复数相等来转化。</p>
                <p>　　利用方程思想解，注意整体代换术。几何运算图上看，加法平行四边形，</p>
                <p>　　减法三角法则判；乘法除法的运算，逆向顺向做旋转，伸缩全年模长短。</p>
                <p>　　三角形式的运算，须将辐角和模辨。利用棣莫弗公式，乘方开方极方便。</p>
                <p>　　辐角运算很奇特，和差是由积商得。四条性质离不得，相等和模与共轭，</p>
                <p>　　两个不会为实数，比较大小要不得。复数实数很密切，须注意本质区别。</p>
                <p>六、《排列、组合、二项式定理》</p>
                <p>　　加法乘法两原理，贯穿始终的法则。与序无关是组合，要求有序是排列。</p>
                <p>　　两个公式两性质，两种思想和方法。归纳出排列组合，应用问题须转化。</p>
                <p>　　排列组合在一起，先选后排是常理。特殊元素和位置，首先注意多考虑。</p>
                <p>　　不重不漏多思考，捆绑插空是技巧。排列组合恒等式，定义证明建模试。</p>
                <p>　　关于二项式定理，中国杨辉三角形。两条性质两公式，函数赋值变换式。</p>
                <p>七、《立体几何》</p>
                <p>　　点线面三位一体，柱锥台球为代表。距离都从点出发，角度皆为线线成。</p>
                <p>垂直平行是重点，证明须弄清概念。线线线面和面面、三对之间循环现。</p>
                <p>　　方程思想整体求，化归意识动割补。计算之前须证明，画好移出的图形。</p>
                <p>　　立体几何辅助线，常用垂线和平面。射影概念很重要，对于解题最关键。</p>
                <p>　　异面直线二面角，体积射影公式活。公理性质三垂线，解决问题一大片。</p>
                <p>八、《平面解析几何》</p>
                <p>　　有向线段直线圆，椭圆双曲抛物线，参数方程极坐标，数形结合称典范。</p>
                <p>　　笛卡尔的观点对，点和有序实数对，两者—一来对应，开创几何新途径。</p>
                <p>　　两种思想相辉映，化归思想打前阵；都说待定系数法，实为方程组思想。</p>
                <p>　　三种类型集大成，画出曲线求方程，给了方程作曲线，曲线位置关系判。</p>
                <p>　　四件工具是法宝，坐标思想参数好；平面几何不能丢，旋转变换复数求。</p>
                <p>　　解析几何是几何，得意忘形学不活。图形直观数入微，数学本是数形学。</p>

                <div class="wp_rp_wrap  wp_rp_plain" id="wp_rp_first">
                    <div class="wp_rp_content">
                        <h3 class="related_post_title">Related Posts</h3>
                        <ul class="related_post wp_rp">
                            <li data-position="0" data-poid="in-449" data-post-type="none"><a href="http://www.tigang.net/shuxue/4-1-ji-he-zheng-ming-xuan-jiang.html" class="wp_rp_title">数学选修4-1《几何证明选讲》知识点总结(精简版)</a></li>
                            <li data-position="1" data-poid="in-85" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-bi-xiu-1-2.html" class="wp_rp_title">生物必修一复习提纲-第二章 细胞的化学组成</a></li>
                            <li data-position="2" data-poid="in-247" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit5-music.html" class="wp_rp_title">高中英语必修二知识点-Unit 5 Music</a></li>
                            <li data-position="3" data-poid="in-217" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-xuan-xiu-3-2-xi-bao-gong-cheng.html" class="wp_rp_title">生物选修3知识点-专题2 细胞工程</a></li>
                            <li data-position="4" data-poid="in-240" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit4-wildlife-protection.html" class="wp_rp_title">高中英语必修二知识点-Unit 4 Wildlife protection</a></li>
                        </ul>
                        <div class="wp_rp_footer"><a class="wp_rp_edit" href="#" id="wp_rp_edit_related_posts">Edit Related Posts</a></div>
                        <div class="wp_rp_footer"><a class="wp_rp_backlink" target="_blank" href="http://www.zemanta.com/?wp-related-posts" rel="nofollow">Zemanta</a></div>
                    </div>
                </div>
                <div class="reship">
                    <hr>
                    <p>转载请注明文章转载自：<a href="http://www.tigang.net">高中复习提纲网</a> [http://www.tigang.net]<br>本文链接地址：<a href="http://www.tigang.net/shuxue/gong-shi-kou-jue.html" rel="bookmark">高中数学八大模块公式口诀</a><br>
                        <a href="http://www.tigang.net/jiaofushu"><img src="http://www.tigang.net/wp-content/themes/WPYOU%20CMS/images/jfs.jpg" alt="高中教辅书排行榜" title="高中教辅书排行榜"></a>
                    </p>
                    <hr>
                </div>
            </div>

            <div class="post_foot_pro_next">
                <div class="pro_next">上一篇: <a href="http://www.tigang.net/shuxue/4-1-ji-he-zheng-ming-xuan-jiang.html" rel="prev">数学选修4-1《几何证明选讲》知识点总结(精简版)</a></div>
                <div class="pro_next"></div>
            </div>
            <!-- 相关商品信息  开始 -->
            <div class="relran">
                <h3>相关提纲</h3>
                <div class="relran_cont">

                    <div class="wp_rp_wrap  wp_rp_plain">
                        <div class="wp_rp_content">
                            <ul class="related_post wp_rp">
                                <li data-position="0" data-poid="in-449" data-post-type="none"><a href="http://www.tigang.net/shuxue/4-1-ji-he-zheng-ming-xuan-jiang.html" class="wp_rp_title">数学选修4-1《几何证明选讲》知识点总结(精简版)</a></li>
                                <li data-position="1" data-poid="in-85" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-bi-xiu-1-2.html" class="wp_rp_title">生物必修一复习提纲-第二章 细胞的化学组成</a></li>
                                <li data-position="2" data-poid="in-247" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit5-music.html" class="wp_rp_title">高中英语必修二知识点-Unit 5 Music</a></li>
                                <li data-position="3" data-poid="in-217" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-xuan-xiu-3-2-xi-bao-gong-cheng.html" class="wp_rp_title">生物选修3知识点-专题2 细胞工程</a></li>
                                <li data-position="4" data-poid="in-240" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit4-wildlife-protection.html" class="wp_rp_title">高中英语必修二知识点-Unit 4 Wildlife protection</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 相关商品信息 志结束 -->
            <!-- 随机商品  开始 -->
            <div class="relran">
                <h3>随机提纲</h3>
                <div class="relran_cont">
                    <ul>
                        <li><a href="http://www.tigang.net/wuli/wu-li-bi-xiu-yi-zhi-shi-dian-1.html" title="高中物理必修一知识点-第一章:运动的描述">高中物理必修一知识点-第一章:运动的描述</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-yi-1.html" title="高中历史必修一-第一单元 古代中国的政治制度">高中历史必修一-第一单元 古代中国的政治制度</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-er-4.html" title="高中历史必修二-第四单元 中国近现代社会生活的变迁">高中历史必修二-第四单元 中国近现代社会生活的变迁</a></li>
                        <li><a href="http://www.tigang.net/shengwu/sheng-wu-xuan-xiu-3-1-ji-yin-gong-cheng.html" title="生物选修3知识点-专题1 基因工程">生物选修3知识点-专题1 基因工程</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-er-7.html" title="高中历史必修二-第七单元苏联社会主义建设的经验与教训">高中历史必修二-第七单元苏联社会主义建设的经验与教训</a></li>
                        <li><a href="http://www.tigang.net/yingyu/unit3-a-taste-of-english-humour.html" title="英语必修四复习提纲-Unit3 A taste of English humour">英语必修四复习提纲-Unit3 A taste of English humour</a></li>
                        <li><a href="http://www.tigang.net/lishi/bixiusan-ba.html" title="高中历史必修三提纲-第八单元 19世纪以来的世界文学艺术">高中历史必修三提纲-第八单元 19世纪以来的世界文学艺术</a></li>
                        <li><a href="http://www.tigang.net/yingyu/unit1-women-of-achievement.html" title="英语必修四复习提纲-Unit1 Women of achievement">英语必修四复习提纲-Unit1 Women of achievement</a></li>
                        <li><a href="http://www.tigang.net/shengwu/sheng-wu-bi-xiu-1-2.html" title="生物必修一复习提纲-第二章 细胞的化学组成">生物必修一复习提纲-第二章 细胞的化学组成</a></li>
                        <li><a href="http://www.tigang.net/wuli/wu-li-ke-ben-mu-lu-1.html" title="新课标高中物理课本目录[1]">新课标高中物理课本目录[1]</a></li>
                    </ul>
                </div>
            </div>
            <!-- 随机商品 志结束 -->
            <div class="clear"></div>

            <!-- You can start editing here. -->

            <h3 id="comments"><strong>才1个评论</strong></h3>

            <ol class="commentlist">


                <li class="alt" id="comment-62">
                    <div class="gravatar">
                        <a href="http://www.321u.cn/" target="_blank"><img alt="" src="http://2.gravatar.com/avatar/b480f259c0969f237d908e561e7c9486?s=48&amp;d=http%3A%2F%2Fen.gravatar.com%2Fuserimage%2F3244064%2Fabe7b8020c8fc8cc9b009469b5c159fc.jpeg&amp;r=g" srcset="http://2.gravatar.com/avatar/b480f259c0969f237d908e561e7c9486?s=96&amp;d=http%3A%2F%2Fen.gravatar.com%2Fuserimage%2F3244064%2Fabe7b8020c8fc8cc9b009469b5c159fc.jpeg&amp;r=g 2x" class="avatar avatar-48 photo" height="48" width="48"></a>
                        <label class="floor">1楼</label></div>
                    <small class="commentmetadata">十月 13th, 2011 at 12:40 下午 &nbsp;&nbsp;<a class="comment-edit-link" href="http://www.tigang.net/wp-admin/comment.php?action=editcomment&amp;c=62">edit</a></small>
                    <strong><a href="http://www.321u.cn/" rel="external nofollow" target="_blank">博客大全-博客收录</a></strong> 说:

                    <p>····高中的信息啊·····</p>

                </li>



            </ol>




            <div class="clear"></div>
            <h3 id="respond">发表评论</h3>
            <div id="editcomment">

                <form action="http://www.tigang.net/wp-comments-post.php" method="post" id="commentform">


                    <p>您现在是以 <a href="http://www.tigang.net/wp-admin/profile.php">admin</a> 的身份登录,<a href="http://www.tigang.net/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fwww.tigang.net%2Fshuxue%2Fgong-shi-kou-jue.html&amp;_wpnonce=6eed91186a" title="Log out of this account"> 点击退出系统 »</a></p>


                    <!--<p><small><strong>XHTML:</strong> You can use these tags: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>-->

                    <p><label for="content">评论内容:</label><br><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4" onkeyup="javascript:return ctrlEnter(event);"></textarea></p>

                    <p id="but_submit"><input name="submit" type="submit" id="submit" tabindex="5" value="提交评论">
                        <input type="hidden" name="comment_post_ID" value="460">
                    </p>

                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="e9b9a18ce0"></p><input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment" value="aabfdb8e9b">

                    <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="97"></p>
                    <p id="sw_connect" class="sw_button">
                        <label>
		<input name="post_2_weibo" type="checkbox" id="post_2_weibo" value="1" style="width:auto"> 同步到微博</label>
                    </p>

                </form>
            </div>

        </div>


    </div>

</div>
{% include 'sidebar.html' %}
{% endblock content %}
