{% extends "base.jinja2"%}

{%block title%}高中复习提纲网-高一,高二,高三高中各科必修选修复习资料提纲聚集地{%endblock title%}
{%block description%}高中复习提纲网是一个收集高中复习资料提纲的聚集地{%endblock description%}
{%block keywords%}提纲,高中,复习,数学,语文,英语,物理,化学,生物,政治,地理,历史,重点,归纳{%endblock keywords%}
{% block content %}
<div class="taobaobei">
    <div class="subnavi">
        <div class="subnavi-l">当前位置: <a href="{{url_for('home.index')}}">高中复习提纲网</a> &gt; <a href="{{url_for('home.category', cslug=p.category.slug)}}" rel="category tag">高中数学复习提纲</a> &gt; 提纲详细内容</div>
    </div>
    <!--– 复制加版权开始 –-->
    <div class="bb_post">
        <div class="bb_list" id="baobei-460">
            <h2 class="txtcenter"><a href="http://www.tigang.net/shuxue/gong-shi-kou-jue.html" rel="bookmark" title="{{ p.title }}">{{ p.title }}</a></h2>
            <div class="descmid dashborder">
                <label class="page-date">发表时间：2011-09-02</label><label class="page-views">关注度：21,844 views </label><label class="page-comments">评论数：<a href="#respond">1</a></label>
            </div>

            <div id="wshare">
                <!-- Baidu Button BEGIN -->
                分享
                <!-- Baidu Button END -->
            </div>

            <div class="bb_detail baobei_info">
              {{ p.body }}
                <div class="reship">
                    <hr>
                    <p>转载请注明文章转载自：<a href="{{ url_for('home.index') }}">高中复习提纲网</a> [http://www.tigang.net]<br>本文链接地址：<a href="{{ url_for('home.post', cslug=p.slug, pslug=p.category.slug) }}" rel="bookmark">{{ p.title }}</a><br>
                        <a href="{{ url_for('home.page_about') }}"><img src="http://www.tigang.net/wp-content/themes/WPYOU%20CMS/images/jfs.jpg" alt="高中教辅书排行榜" title="高中教辅书排行榜"></a>
                    </p>
                    <hr>
                </div>
            </div>

            <div class="post_foot_pro_next">
                <div class="pro_next">上一篇: <a href="http://www.tigang.net/shuxue/4-1-ji-he-zheng-ming-xuan-jiang.html" rel="prev">数学选修4-1《几何证明选讲》知识点总结(精简版)</a></div>
                <div class="pro_next"></div>
            </div>
            <!-- 相关商品信息  开始 -->
            <div class="relran">
                <h3>相关提纲</h3>
                <div class="relran_cont">

                    <div class="wp_rp_wrap  wp_rp_plain">
                        <div class="wp_rp_content">
                            <ul class="related_post wp_rp">
                                <li data-position="0" data-poid="in-449" data-post-type="none"><a href="http://www.tigang.net/shuxue/4-1-ji-he-zheng-ming-xuan-jiang.html" class="wp_rp_title">数学选修4-1《几何证明选讲》知识点总结(精简版)</a></li>
                                <li data-position="1" data-poid="in-85" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-bi-xiu-1-2.html" class="wp_rp_title">生物必修一复习提纲-第二章 细胞的化学组成</a></li>
                                <li data-position="2" data-poid="in-247" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit5-music.html" class="wp_rp_title">高中英语必修二知识点-Unit 5 Music</a></li>
                                <li data-position="3" data-poid="in-217" data-post-type="none"><a href="http://www.tigang.net/shengwu/sheng-wu-xuan-xiu-3-2-xi-bao-gong-cheng.html" class="wp_rp_title">生物选修3知识点-专题2 细胞工程</a></li>
                                <li data-position="4" data-poid="in-240" data-post-type="none"><a href="http://www.tigang.net/yingyu/ying-yu-bi-xiu-er-unit4-wildlife-protection.html" class="wp_rp_title">高中英语必修二知识点-Unit 4 Wildlife protection</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 相关商品信息 志结束 -->
            <!-- 随机商品  开始 -->
            <div class="relran">
                <h3>随机提纲</h3>
                <div class="relran_cont">
                    <ul>
                        <li><a href="http://www.tigang.net/wuli/wu-li-bi-xiu-yi-zhi-shi-dian-1.html" title="高中物理必修一知识点-第一章:运动的描述">高中物理必修一知识点-第一章:运动的描述</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-yi-1.html" title="高中历史必修一-第一单元 古代中国的政治制度">高中历史必修一-第一单元 古代中国的政治制度</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-er-4.html" title="高中历史必修二-第四单元 中国近现代社会生活的变迁">高中历史必修二-第四单元 中国近现代社会生活的变迁</a></li>
                        <li><a href="http://www.tigang.net/shengwu/sheng-wu-xuan-xiu-3-1-ji-yin-gong-cheng.html" title="生物选修3知识点-专题1 基因工程">生物选修3知识点-专题1 基因工程</a></li>
                        <li><a href="http://www.tigang.net/lishi/li-shi-bi-xiu-er-7.html" title="高中历史必修二-第七单元苏联社会主义建设的经验与教训">高中历史必修二-第七单元苏联社会主义建设的经验与教训</a></li>
                        <li><a href="http://www.tigang.net/yingyu/unit3-a-taste-of-english-humour.html" title="英语必修四复习提纲-Unit3 A taste of English humour">英语必修四复习提纲-Unit3 A taste of English humour</a></li>
                        <li><a href="http://www.tigang.net/lishi/bixiusan-ba.html" title="高中历史必修三提纲-第八单元 19世纪以来的世界文学艺术">高中历史必修三提纲-第八单元 19世纪以来的世界文学艺术</a></li>
                        <li><a href="http://www.tigang.net/yingyu/unit1-women-of-achievement.html" title="英语必修四复习提纲-Unit1 Women of achievement">英语必修四复习提纲-Unit1 Women of achievement</a></li>
                        <li><a href="http://www.tigang.net/shengwu/sheng-wu-bi-xiu-1-2.html" title="生物必修一复习提纲-第二章 细胞的化学组成">生物必修一复习提纲-第二章 细胞的化学组成</a></li>
                        <li><a href="http://www.tigang.net/wuli/wu-li-ke-ben-mu-lu-1.html" title="新课标高中物理课本目录[1]">新课标高中物理课本目录[1]</a></li>
                    </ul>
                </div>
            </div>
            <!-- 随机商品 志结束 -->
            <div class="clear"></div>

            <!-- You can start editing here. -->
            {% include 'comment.html' %}
        </div>


    </div>

</div>
{% include 'sidebar.html' %}
{% endblock content %}
