{% macro render_sidebar_category(cate) %}
<li id="categories-sidebar" class="widget widget_categories">
  <h2 class="widgettitle">复习提纲分类</h2>
  <ul>
    {% for c in cate %}
    <li class="cat-item cat-item-{{c.id}}"><a href="{{ url_for('home.category', cslug=c.slug) }}">{{c.title}}</a> ({{c.count}})</li>
    {% endfor %}
  </ul>
</li>
{% endmacro %}

{% macro render_sidebar_new(new) %}
<li id="recent-posts-sidebar" class="widget widget_recent_entries">
  <h2 class="widgettitle">最新复习提纲</h2>
  <ul>
    {% for p in new %}
    <li>
      <a href="{{ url_for('home.post', cslug=p.cslug, pslug=p.slug) }}">{{p.title}}</a>
    </li>
    {% endfor %}
  </ul>
</li>
{% endmacro %}

{% macro render_sidebar_tag(tags) %}
<li id="tag_cloud-sidebar" class="widget widget_tag_cloud">
  <h2 class="widgettitle">复习提纲标签</h2>
  <div class="tagcloud">
    {% for t in tags %}
    <a href="{{ url_for('home.tag', tslug=t.slug) }}" class="tag-link-{{t.id}}" title="{{t.post_count}}个话题" style="font-size: 9pt;">{{t.name}}</a>
    {% endfor %}
</li>
{% endmacro %}
